body {
  background: rgb(0, 128, 128);
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
  padding-bottom: 200px;
  font-family: 'Playfair Display', serif;
}

nav {
  font-family: 'Lato', sans-serif;
  color: rgb(255, 80, 80);
  background: white;
  width: 100%;
  margin: 0;
  display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  width: 25%;
  margin: 20px auto;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover, p a:hover{
  color: rgb(255, 80, 80);
  background: rgb(0, 128, 128);
}

h1 {
  font-size: 40px;
}

h2, h2, h3 {
  font-size: 27px;
}

h1, h2, h3 {
  font-weight: bold;
}

p {
  font-size: 18px;
  margin: 7px auto;
}

img {
  border: 0;
  margin: 100px auto;
  width: 75%;
  max-width: 400px;
  min-width: 200px;
}

section {
  background: rgb(255, 80, 80);
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 15px rgb(255, 80, 80);
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.item {
  flex-grow: 1;
  margin: auto;
}

#menu_trigger {
  display: none;
}

@media (max-width: 600px) {

  li {
    width: 100%;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }

}
